.hidden-box-color-1{
background: rgb(34,132,156) !important;
background: linear-gradient(180deg, rgba(34,132,156,0.7763480392156863) 0%, rgba(18,18,18,1) 100%) !important;
}
.hidden-box-color-2{
background: rgb(34,156,54)!important;
background: linear-gradient(180deg, rgba(34,156,54,0.7763480392156863) 0%, rgba(18,18,18,1) 100%)!important;
}

.hidden-box-color-3{
background: rgb(105,34,156) !important;
background: linear-gradient(180deg, rgba(105,34,156,0.7763480392156863) 0%, rgba(18,18,18,1) 100%) !important;
}
.hidden-box-color-4{
background: rgb(156,107,34)!important;
background: linear-gradient(180deg, rgba(156,107,34,0.7763480392156863) 0%, rgba(18,18,18,1) 100%)!important;
}
.hidden-box-color-5{
    background: rgb(54,38,230)!important;
    background: linear-gradient(180deg, rgba(54,38,230,0.7763480392156863) 0%, rgba(18,18,18,1) 100%)!important;
}
.hidden-box-color-6{
    background: rgb(47,128,72)!important;
    background: linear-gradient(180deg, rgba(47,128,72,0.7763480392156863) 0%, rgba(18,18,18,1) 100%)!important;
}
.hidden-box-color-7{
    background: rgb(230,38,38)!important;
    background: linear-gradient(180deg, rgba(230,38,38,0.7763480392156863) 0%, rgba(18,18,18,1) 100%)!important;
}
.hidden-box-color-8{
background: rgb(38,230,54)!important;
background: linear-gradient(180deg, rgba(38,230,54,0.7763480392156863) 0%, rgba(18,18,18,1) 100%)!important;
}

